*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/*  header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
 
.orange{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;




}
img{
    width: 584px;
    height: 676px;
}
/* banner style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-sub-title{
    
    font-weight: 600;
    font-size: 45px;
    margin: 20px;

}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin: ;

}
.bd{
    color: #757575;
    margin-bottom: 30px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* section style */
.about{
margin: 130px;
background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;

}
.st{

margin-bottom: 30px; 
font-weight: 700;
font-size: 35px;   
}
.sd{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-infoo-c{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    color: #474747;
    font-size: 20px;

}